{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "max-len": ["error", 120, { "ignoreComments": true }],
    "valid-jsdoc": ["error", {"requireReturn": false}],
    "linebreak-style": 0
  }
}
